@model AbilityMeta

@{
    ViewData["Title"] = $"Edit {Model.Id}";
}

@Html.Partial("_ValidationSummary")

<form asp-action="Save" method="post" class="form-horizontal" role="form">
    @Html.HiddenFor(m => m.ETag)
    @Html.HiddenFor(m => m.PartitionKey)
    @Html.HiddenFor(m => m.RowKey)
    @Html.HiddenFor(m => m.Timestamp)

    @Html.ValueEditorFor(m => m.Id, @readonly: true)
    @Html.ValueEditorFor(m => m.Cooldown, required: true)
    @Html.ValueEditorFor(m => m.StaminaCost, required: true)

    @Html.Partial("_AttributesEditorPartial")

    @Html.Partial("_EntityActionsPartial")
</form>

@Html.Partial("_DuplicateEntityPartial")