@model IEnumerable<WardMeta>

@{
    ViewData["Title"] = "Ward Metas";
}

@Html.Partial("_SearchEntityPartial")
@Html.Partial("_AddEntityPartial")

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Building Spots</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wardMeta in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => wardMeta.Id)</td>
                    <td>@Html.DisplayFor(modelItem => wardMeta.BuildingSpotsMap.Count)</td>
                    <td>@Html.RenderEditEntityButton(wardMeta.Id)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_BrowseLimitPartial")
@Html.Partial("_NotFoundPartial")
